// show mobile in tablet portrait
$mobile-only: max-width 49em;
$small: 49em;

@include add-gutter(2em);

/**
 * These values will not show up in content, but can be 
 * queried by JavaScript to know which breakpoint is active.
 */
body:before {
  content: "mobile";
  display: none;
}

@include breakpoint($small) {
  body:before {
    content: "small";
  }
}
@include breakpoint($medium) {
  body:before {
    content: "medium";
  }
}

@include breakpoint($large) {
  body:before {
    content: "large";
  }
}
