// Susy grid.
$container-style: magic;
$container-width: 75em;

$total-columns: 4;
// a 4-column grid
$column-width: 4em;
// each column is 4em wide
$gutter-width: 2em;
// 2em gutters between columns
$grid-padding: 1em;
// grid-padding is twice as wide as gutter

$debug-grid: true;

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 0.938em;
$horz-spacing-unit: 0.938em;

// Legacy support.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;

$light-blue: #e5f3f9;
$accordion-blue-button: #0382B0;
$accordion-blue: #1084C4;
$accordion-blue--active: #006C8B;
$accordion-blue-button--active: #00566F;

$orange: #fa9500;
$purple: #7A46A2;
$light-green: #91C466;

// User colors
$color-user: $purple;

// Basic colors
$color-bg-prefooter: #f7f7f7;

// Some colors
$color-facebook: #547bb9;
$color-linkedin: #1483c4;
$color-you-tube: #e6644a;
$color-twitter: #5ea9dd;

// Course overview legend colors
$color-legend-study-object: $purple;
$color-legend-course: #52c6af;

$messages: (
	'status': (
		'color': $black,
		'color-alt': #81b43b,
		'bg-color': #b2e576,
		'bg-color-alt': #f2f7eb,
		'icon': '\f00c',
	),
	'warning': (
		'color': $white,
		'color-alt': $black,
		'bg-color': #52c6af,
		'bg-color-alt': #f8f8f8,
		'icon': '\f06a',
	),
	'error': (
		'color': $white,
		'color-alt': #964822,
		'bg-color': #964822,
		'bg-color-alt': #f4ece8,
		'icon': '\f071',
	),
	'info': (
		'color': $black,
		'color-alt': $black,
		'bg-color': #F8F8F8,
		'bg-color-alt': #F8F8F8,
		'icon': '\f06a',
	)
);

$some-links: (
  'facebook': (
    'bg-color': $color-facebook,
    'icon': $hy-facebook,
  ),
  'twitter': (
    'bg-color': $color-twitter,
    'icon': $hy-twitter,
  ),
  'youtube': (
    'bg-color': $color-you-tube,
    'icon': $hy-you-tube,
  ),
  'linkedin': (
    'bg-color': $color-linkedin,
    'icon': $hy-linkedin,
  )
);
