.field-group-accordion-item {
  margin: 2em 0 1em;
  @include at-breakpoint($layout-small) {
    padding-left: 2.6em;
  }
}

.accordion-content-item {
	margin-bottom: 2em;
  &:last-child {
    margin-bottom: 0;
  }
}

.accordion-item {
  @include button-accordion--dark;
  @include font-size(15px);
  background-color: $accordion-blue;
  border: 0;
  padding-left: 4em;
  margin-bottom: 0.5em;
  a {
    color: $white;
  }
  &:before {
    @include hy-icon($hy_arrow);
    background-color: $accordion-blue-button;
    left: 0;
    line-height: 2.8em;
    padding-left: 1em;
    padding-right: 1em;
  }
  &:hover,
  &.is-active {
    background-color: $accordion-blue--active;
    a {
      color: $white;
    }
    &:before {
      background-color: $accordion-blue-button--active;
    }
  }
}

.accordion-item__light {
  @include button-accordion;
  @include font-size(15px);
  text-transform: none;
  padding-left: 4em;
  margin-bottom: 0.5em;
  &:before {
    @include hy-icon($hy_arrow);
    background-color: $blue;
    color: $white;
    left: 0;
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
  }
  &:hover,
  &.is-active {
    background-color: $white;
    color: $blue;
  }
}

.accordion-item__alternative {
  @include button-accordion;
  @include font-size(15px);
  @include border-bottom;
  @include font-weight-medium;
  text-transform: none;
  padding-left: 0;
  padding-right: 3em;
  &:before {
    @include hy-icon($hy_arrow);
    left: auto;
    right: 1em;
  }
  &:hover,
  &.is-active {
    background: transparent;
    color: $blue--active;
    &:before {
      color: $blue--active;
    }
  }
  &.is-active {
    border-bottom: none;
  }
  a {
    color: $blue;
    &:hover {
      color: $blue--active;
    }
  }
}

.accordion-item-title-link {
  &:after {
    @include hy-icon($hy-hy-logo);
    background: $silver;
    color: $white;
    left: 0;
    top: 0;
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
  }
}

.accordion-item-title > h3 {
  margin-top: 2em;
  text-transform: uppercase;
  position: relative;
  @include font-size(15px);
  @include border-side('top');
  @include border-side('bottom');
  @include font-weight-bold;
  padding: 0.9em 1em 0.8em 4em;

  &:after {
    @include hy-icon($hy-hy-logo);
    background: $silver;
    color: $white;
    left: 0;
    top: 0;
    font-size: 2em;
    line-height: 1.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    position: absolute;
  }
}

.accordion-edit-link {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 2.9em;
  padding-left: 1em;
  padding-right: 1em;
  &:before {
    @include hy-icon($hy-modify);
    display: block;
  }
  &:hover {
    @include hy-spin;
  }
}

.ghost-accordion {
  @include font-size(15px);
  position: relative;
  background: $white;
  border: 2px dashed $lightsilver;
  padding: 0.8em 0 0.8em 4em;
  margin-bottom: 0.5em;
  .accordion-edit-link {
    @include hy-icon($hy_plus);
    color: $white;
    background-color: $accordion-blue;
    left: -2px;
    top: -2px;
    right: initial;
    width: 45px;
    &:before {
      @include hy-icon($hy-plus);
      display: block;
      float: left;
    }
    &:hover {
      @include animation(none);
      background-color: $accordion-blue--active;
    }
  }
}
