.field-group-accordion-item {
  margin: 2em 0 1em;
  @include breakpoint($small) {
    padding-left: 2.6em;
  }
}

.accordion-content-item {
	margin-bottom: 2em;
  &:last-child {
    margin-bottom: 0;
  }
}

.accordion-item {
  background-color: transparent;
  @extend %button--accordion;
  @include font-size(15px);
  background-color: $blue;
  border: 0;
  padding-left: 4em;
  margin-bottom: 0.5em;
  a {
    color: $white;
  }
  &:before {
    @include icon($icon-caret-right);
    @include transform(rotate(0deg));
    background-color: $blue--active;
    left: 0;
    top: 0;
    line-height: 2.8em;
    padding-left: 1em;
    padding-right: 1em;
  }
  &.is-active:before {
    @include transform(rotate(90deg));
  }
  &:hover,
  &.is-active {
    background-color: $darkblue;
    a {
      color: $white;
    }
    &:before {
      background-color: $darkblue--active;
    }
  }
}

.accordion-item__light {
  @extend %button--accordion;
  @include font-size(15px);
  background-color: $white;
  color: $blue;
  text-transform: none;
  padding-left: 4em;
  margin-bottom: 0.5em;
  &:before {
    @include icon($icon-caret-right);
    @include transform(rotate(0deg));
    background-color: $blue;
    color: $white;
    left: 0;
    top: 0;
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
  }
  &.is-active:before {
    @include transform(rotate(90deg));
  }
  &:hover,
  &.is-active {
    background-color: $white;
    color: $blue;
  }
}

.accordion-item__alternative {
  @extend %button--accordion;
  @include font-size(15px);
  @include border-bottom;
  @include font-weight-medium;
  color: $blue;
  text-transform: none;
  padding-left: 0;
  padding-right: 3em;
  background: transparent;
  &:before {
    @include icon($icon-caret-right);
    @include transform(translateY(-50%) rotate(0deg));
    color: $blue;
    left: auto;
    right: 1em;
  }
  &:hover,
  &.is-active {
    background: transparent;
    color: $blue--active;
    &:before {
      color: $blue--active;
    }
  }
  &.is-active {
    border-bottom: none;
  }
  a {
    color: $blue;
    &:hover {
      color: $blue--active;
    }
  }
}

.accordion-item-title-link {
  &:after {
    @include icon($icon-hy-logo);
    background: $silver;
    color: $white;
    left: 0;
    top: 0;
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
  }
}

.accordion-item-title > h3 {
  margin-top: 2em;
  text-transform: uppercase;
  position: relative;
  @include font-size(15px);
  @include border-side('top');
  @include border-side('bottom');
  @include font-weight-bold;
  padding: 0.9em 1em 0.8em 4em;

  a {
    color: $blue;
  }

  &:after {
    @include icon($icon-hy-logo);
    background: $silver;
    color: $white;
    left: 0;
    top: 0;
    font-size: 2em;
    line-height: 1.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    position: absolute;
  }
}

.subheading {
  .accordion-item-title > h3 {
    padding: 0;
    border-top: none;
    border-bottom: none;
    &:after {
      background: none;
      content: '';
    }
  }
}

.field-collection-item-field-study-module p {
  margin-bottom: 0;
}

.ghost-accordion {
  @include font-size(15px);
  position: relative;
  background: $white;
  border: 2px dashed $lightsilver;
  padding: 0.8em 0 0.8em 4em;
  margin-bottom: 0.5em;
}

.accordion-edit-link {
  position: absolute;
  line-height: 2.9em;
  padding-left: 1em;
  padding-right: 1em;
  .ghost-accordion & {
    @include icon($icon-plus);
    color: $white;
    background-color: $blue;
    left: -2px;
    top: -2px;
    right: initial;
    width: 45px;
    &:before {
      @include icon($icon-plus);
      display: block;
      float: left;
    }
    &:hover {
      background-color: $darkblue--active;
    }
  }
  .accordion-item & {
    right: 0;
    top: 0;
    &:before {
      @include icon($icon-modify);
      display: block;
    }
    &:hover {
      @include hy-spin;
    }
  }
}
