input[type="checkbox"],
input[type="radio"] {
  display: none;
  & + a:before,
  & + label:before {
    @include transition(all 0.2s ease-in-out);
    content: '';
    margin: 2px 8px 0 0;
    display: block;
    float: left;
    height: 15px;
    width: 15px;
    border: 1px solid $blue;
  }
  &:checked + a:before,
  &:checked + label:before {
    background-color: $darkblue;
    border: 1px solid $darkblue;
  }
}

input[type="radio"] {
  & + a:before,
  & + label:before {
    border-radius: 7px;
    @include box-shadow(inset 0 0  0 3px $white);
  }
}

input[type="submit"] {
  @include font-weight-medium;
  @include font-size(14px);
  display: inline-block;
  margin: 0.5em 1em 0.5em 0;
  padding: 1em 3em;
  width: 100%;
  @include breakpoint($small) {
    min-width: 220px;
    width: auto;
  }
}

input[type="submit"] {
  &#edit-cancel,
  &#edit-delete,
  &[id*="form-actions-ief-add-cancel"],
  &[id*="form-actions-ief-edit-cancel"],
  &[id*="remove-button"] {
    @extend %button--light;
  }
}

input[type="text"],
textarea {
  @include font-weight-medium;
  border: 2px solid darken($lightsilver, 10%);
  font-size: 14px;
  width: 100%;
  padding: 0.7em;
}

select {
  padding: 0 1em;
  width: auto;
}

form label,
%label {
  @include font-weight-book;
  @include font-size(18px);
  padding: 1em 0 0.5em 0;
  display: block;
}

.form-type-checkbox label,
.form-type-radios label,
%label__small {
  font-size: 0.85em;
  color: $gray;
  padding: 0.5em 0;
  line-height: 15px;
}

img.file-icon {
  display: none;
}