.list-of-links__columns {
  @include font-size(15px);
  @include accessible-border-bottom;
  padding: 0.8em 0;
  display: flex;
  justify-content: space-between;
}

.list-of-links__link-info {
  color: $darkgray;
  margin: 0 1em;
  font-weight: normal;
  @include breakpoint($mobile-only) {
    flex-basis: 30%;
  }
}
