// Burger menu button
.nav-toggle {
  align-items: center;
  background: $black;
  bottom: 0px;
  display: flex;
  height: 70px;
  justify-content: center;
  position: absolute;
  right: 0;
  text-indent: -2000em;
  width: 70px;
  z-index: 15;

  &:after {
    @include font-size(28px);
    @include icon($icon-hamburger);
    color: $white;
    text-indent: 0;
  }

  &.active {
    &:after {
      @include icon($icon-minus);
    }
  }

  @include breakpoint($small) {
    display: none;
  }
}