.messages {
  @include font-weight-medium;
  @include font-size(12px);
  @include transition(all 0.3s ease-in-out);
  clear: both;
  text-align: center;
  padding: 1.3em 2em;
  p, ul {
    @include font-family-main;
    display: inline-block;
    width: 93%;
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  a {
    @include font-weight-bold;
    &:after {
      @include hy-icon($hy-link-arrow);
      margin-left: 0.5em;
    }
  }
  .close {
    display: inline-block;
    float: right;
    &:after{
      @include hy-icon($hy-remove);
    }
  }
  &.closed {
    height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  @each $name, $type in $messages {
    &.#{$name} {
      background-color: map-get(map-get($messages, $name), "bg-color");
      color: map-get(map-get($messages, $name), "color");
      * {
        color: map-get(map-get($messages, $name), "color");
      }
      &.alternative {
        background-color: map-get(map-get($messages, $name), "bg-color-alt");
        color: map-get(map-get($messages, $name), "color-alt");
        * {
          color: map-get(map-get($messages, $name), "color-alt");
        }
      }
      li:before,
      p:before {
        @include font-awesome(map-get(map-get($messages, $name), "icon"));
        font-size: 1.3em;
        margin-right: 0.7em;
      }
    }
  }
}