html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

.portal-promotions {
  padding: 4em 0 1em 0;
  .button-internal {
    border-bottom: none;
  }
}

.field-group-accordion-item {
  .messages {
    margin-bottom: 1em;
    li, p {
      @include font-family-main;
    }
  }
}


// used for hiding certain elements and show it only in mobile
.show-only-in-mobile {
  @include breakpoint($small) {
    display: none;
  }
}

@for $i from 1 to 4 {
 .columns-#{$i} {
    @include breakpoint($small) {
      > li {
        float: left;
        padding-right: 2em;
        width: (100% / $i);
        &:nth-child(#{$i}n + #{$i + 1}) {
          clear: left;
        }
      }
    }
  }
}

input[type=text] {
  -webkit-appearance: textfield !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

abbr[title] {
  text-decoration: none;
}

.element-hidden {
  display: none;
}

img.file-icon {
  display: none;
}

@for $i from 1 to 5 {
 .spacer-top-#{$i} {
    padding-top: #{$i}em;
  }
  .spacer-bottom-#{$i} {
    padding-bottom: #{$i}em;
  }
}

.box-story {
   position: relative;
   padding-bottom: 3em;
  .box-story__link {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .box-story__content {
    @include font-family-bodytext;
    a {
      color: $blue;
      &:hover {
        color: $darkblue;
      }
    }
  }
  &.node--online-service--teaser,
  &.node--portal-page--teaser,
  &.node--liftup--teaser {
    cursor: pointer;
  }
}

.box-ingress__image {
  @include breakpoint($small) {
    margin-bottom: 1em;
  }
}

.some-links {
  li {
    a {
      text-indent: -9999px;
      position: absolute;
    }
  }
}

.pager {
  text-align: center;
}
