.textarea--small,
%textarea--small {
  p,
  ul li,
  ol li {
    @include font-family-bodytext;
    font-size: 1rem;
  }
}

dl, menu, ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro-text p {
  @include text-liftup;
  @include font-family-main;
}

.headline p {
  @include font-weight-bold;
  @include font-family-main;
  @include font-size(28px);
  color: $darkgray;
  letter-spacing: -0.05em;
  line-height: 1.1em;
  margin: 0;
  padding-bottom: 0.4em;
  text-transform: uppercase;
  word-wrap: break-word;
}

h1, h2 {
  @include hyphenate;
}

.heading-light {
  @include text-label;
  margin-bottom: 1em;
}

// Headings as classes
.heading-size-1 {
  @include font-size(36px);
  line-height: 1.15em;
  letter-spacing: -2px;

  @include breakpoint($small) {
    @include font-size(50px);
  }
}

.heading-size-2 {
  @include font-size(25px);

  @include breakpoint($medium) {
    @include font-size(38px);
  }
}

.heading-size-3 {
  @include font-size(32px);
}

.heading-size-4 {
  @include font-size(21px);
}
