.view-statistics .container-inline-date .description,
.view-statistics .container-inline-date .form-item > label[for=edit-timestamp-max] {
	display: none;
}

.view-statistics .container-inline-date,
.view-statistics .views-exposed-widget  .views-widget > div {
	display: inline-block;
}

.views-exposed-widget {
	display: inline-block;
	vertical-align: bottom;
	float: none !important;
}

.views-exposed-widget .form-item {
	padding: 0 !important;
}