.node-form  {
  .group-imp-header-img,
  .group-headline-and-intro,
  .group-material-title-and-section,
  .group-material-metadata {
    float: left;
    box-sizing: border-box;
    input {
      width: 100%;
      box-sizing: border-box;
    }
  }

  fieldset#edit-field-imp-teachersection-und-0 legend,
  label[for=edit-field-imp-header-image-und-0-upload],
  .form-item-field-imp-header-image-und-0 .image-widget-data span {
    display: none;
  }

  #edit-field-imp-header-headline-und-0-value {
    @include font-size(32px);
    font-weight: bold;
    text-transform: uppercase;
  }

  #edit-field-field-imp-header-intro-tex-und-0-value {
    @include font-size(21px);
  }

  .field-name-field-event-duration input[type="text"],
  .form-type-date-popup input[type="text"] {
    width: initial;
    display: block;
  }

  .form-item-field-imp-header-text-und-0-value {
    clear: both;
  }

  .field-name-field-private label {
    font-weight: bold;
  }

  .field-widget-link-field td {
    padding: 1em 0;
  }

  .description-toggle {
    @include font-size(18px);
    display: inline-block;
    position: relative;
    cursor: help;
    &:after {
      @include hy-icon($hy-question);
      padding-bottom: 2px;
      vertical-align: middle;
      display: inline-block;
      color: $blue;
    }
    @include at-breakpoint($layout-mobile-only) {
      float: left;
      padding-right: 0.5em;
    }
  }

  .description {
    @include dropdown-menu(none, 'left', $darkgray);
    @include border-radius(6px);
    @include hyphenate;
    font-size: 0.75em;
    left: -15px;
    top: 30px;
    color: $white;
    position: absolute;
    padding: 0 1em;
    &.collapsed {
      padding: 1em;
    }
  }
}

.filter-wrapper {
  display: none;
}
