.node-form  {
  .group-imp-header-img,
  .group-headline-and-intro,
  .group-material-title-and-section,
  .group-material-metadata {
    box-sizing: border-box;
    input {
      width: 100%;
      box-sizing: border-box;
    }
    @include breakpoint($small) {
      float: left;
    }
  }

  @include breakpoint($small) {
    #edit-field-imp-header-headline-und-0-value {
      @include font-size(32px);
      font-weight: bold;
      text-transform: uppercase;
    }

    #edit-field-field-imp-header-intro-tex-und-0-value {
      @include font-size(21px);
    }
  }

  #edit-field-imp-header-image-und-0-remove-button {
    display: block;
  }

  .group-imp-header-img {
    input[type="submit"] {
      min-width: 100%;
    }
  }

  .field-name-field-event-duration input[type="text"],
  .form-type-date-popup input[type="text"] {
    width: initial;
    display: block;
  }

  .form-item-field-imp-header-text-und-0-value {
    clear: both;
  }

  .field-name-field-private {
    padding-top: 2em;
    label {
      font-weight: bold;
    }
  }
}

.filter-wrapper {
  display: none;
}

// hide section from material table, we still need it for material sort js
#ief-entity-table-edit-field-section-material-und-entities,
.field-name-field-event-ref-to-material .ief-entity-table {
  th:nth-child(4),
  .inline-entity-form-node-field_material_section {
    display: none !important;
  }
}

