.node-form  {
  padding-bottom: 260px;
  @include breakpoint($small) {
    padding-bottom: 170px;
  }
  @include breakpoint($medium) {
    padding-bottom: 110px;
  }

  textarea {
    line-height: 1.5em;
  }

  .form-type-checkbox label,
  .form-type-radio label {
    margin: 0;
    padding: 0;
    &:before {
      background: $white;
      position: static;
      vertical-align: middle;
      margin-top: 10px;
    }
  }

  select {
    background: $white;
  }

  .ajax-progress-throbber {
    display: inline-block;
    position: relative;
    left: -45px;
    @include breakpoint($mobile-only) {
      float: right;
      top: -58px;
      left: -10px;
    }
    .throbber {
      &:after {
        @include icon($icon-spinner);
        @include hy-spin;
        color: $white;
        display: block;
      }
    }
    .message {
      display: none;
    }
  }

  #autocomplete {
    @include accessible-border;
    overflow: hidden;
    position: absolute;
    z-index: 100;
  }

  .button {
    display: inline-block;
  }

  .link-field-column {
    @include breakpoint($small) {
      width: 50%;
      float: left;
      &:first-child {
        padding-right: 1em;
      }
    }
    label {
      padding-top: 0;
    }
  }

  .section-title {
    @include font-family-main;
    @include font-size(21px);
    @include font-weight-bold;
    width: 30px;
    display: block;
    color: $darkgray;
    letter-spacing: -0.05em;
    line-height: 1.1em;
    padding: 1em 0 0 0;
    text-transform: uppercase;
  }

  .fieldset-description {
    @include font-family-bodytext;
    @include text-paragraph;
    margin-top: 1em;
  }

  .vertical-tabs-pane {
    & > legend > .fieldset-legend {
      @extend .heading-size-3;
      @include font-weight-bold;
      padding-top: 0;
      letter-spacing: -2px;
      text-transform: uppercase;
      color: $darkgray;
    }
    & > .fieldset-wrapper > .form-wrapper > legend > .fieldset-legend {
      @extend .heading-size-4; 
      @include font-weight-bold;
      letter-spacing: -2px;
      text-transform: uppercase;
      color: $darkgray;  
    }
  }

  label,
  .fieldset-legend {
    @extend %label;
  }

  .form-item {
    margin-bottom: 1em;
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .form-wrapper {
    border: none;
  }

  .ief-form,
  .field-type-field-collection fieldset:not(.collapsed) {
    background: lighten($lightsilver, 5%);
    border: 2px solid $lightsilver;
    margin: 2em 0;
    padding: 1.5em;
    > div {
      margin-bottom: 1em;
      clear: both;
    }
    > legend {
      float: left;
      & > .fieldset-legend {
        @extend .heading-size-4;
        @include font-weight-bold;
        padding-top: 0;
        letter-spacing: -2px;
        text-transform: uppercase;
      }
    }
    .ief-form {
      background: $lightsilver;
    }
  }
  .field-type-field-collection {
    fieldset.collapsible {
      margin: 0 -1em 0 -2em;
      > legend {
        width: 100%;
        > .fieldset-legend {
          position: relative;
          padding: 0;
          .fieldset-title {
            display: block;
            position: relative;
            z-index: 10;
          }
          &:after {
            @include icon($icon-caret-down);
            color: $blue;
            position: absolute;
            right: 0;
            top: 2px;
          }
        }
      }
      &.collapsed {
        margin: 0;
        > .fieldset-wrapper {
          display: none;
        }
        > legend > .fieldset-legend:after {
          @include icon($icon-caret-right);
        }
      }
      > .fieldset-wrapper > input[type="submit"] {
        margin-top: 3em;
      }
    }
  }
  .form-actions {
    position: fixed;
    width: 100%;
    padding-right: 2em;
    bottom: 0;
    background: $white;
    border-top: 2px solid $lightsilver;
    padding-top: 10px;
    padding-bottom: 20px;
    @include breakpoint($mobile-only) {
      left: 0;
      padding: 0.5em;
      input[type="submit"] {
        width: auto;
        font-size: 12px;
        min-width: 65px;
        padding: 0.8em 1em;
        margin: 0 1em 0 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    @include breakpoint($small) {
      max-width: 71em;
      margin: 40px auto 0;
      padding-top: 30px;
    }
  }
}

.ui-dialog-content {
  background: $white;
}

.ui-datepicker {
  @include shadow-under;
  background: $white !important;
  border: 2px solid $lightsilver !important;
  .ui-datepicker-next,
  .ui-datepicker-prev {
    .ui-icon {
      font-size: 0;
      &:after {
        @include icon($icon-arrow);
        display: block;
        font-size: initial;
      }
    }
  }
  .ui-datepicker-prev .ui-icon:after {
    @include transform(rotate(180deg));
  }
}
