.node-form  {
  input[type="submit"] {
    @include font-weight-medium;
    @include font-size(14px);
    display: inline-block;
    margin: 0.5em 1em 0.5em 0;
    padding: 1em 3em;
    width: 100%;
    @include at-breakpoint($layout-small) {
      min-width: 220px;
      width: auto;
    }
    &#edit-cancel {
      background: #fff;
      color: #0098d0;
      padding: 1.2em 2em;
    }
  }

  input[type="text"],
  textarea {
    @include font-weight-medium;
    border: 2px solid $lightsilver;
    font-size: 14px;
    width: 100%;
    padding: 0.7em;
  }

  .form-type-checkbox label,
  .form-type-radio label {
    margin: 0;
    padding: 0;
    &:before {
      background: $white;
      position: static;
      vertical-align: middle;
      margin-bottom: 2px;
    }
  }

  select {
    background: $white;
  }

  .ajax-progress {
    .throbber {
      float: left;
      &:after {
        @include hy-icon($hy-rotate-right);
        @include hy-spin;
      }
    }
    .message {
      padding-left: 30px;
    }
  }

  #autocomplete {
    @include border;
    overflow: hidden;
    position: absolute;
    z-index: 100;
  }

  .button {
    display: inline-block;
  }

  .link-field-column {
    @include at-breakpoint($layout-small) {
      width: 50%;
      float: left;
      &:first-child {
        padding-right: 1em;
      }
    }
    label {
      padding-top: 0;
    }
  }

  .section-title {
    @include font-family-main;
    @include font-size(21px);
    @include font-weight-bold;
    display: block;
    color: $darkgray;
    letter-spacing: -0.05em;
    line-height: 1.1em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
  }

  .fieldset-description {
    @include font-family-bodytext;
    @include text-paragraph;
    margin-top: 1em;
  }

  .vertical-tabs-pane {
    & > legend > .fieldset-legend {
      @extend .heading-size-3;
      @include font-weight-bold;
      padding-top: 0;
      letter-spacing: -2px;
      text-transform: uppercase;
      color: $darkgray;
    }
    & > .fieldset-wrapper > .form-wrapper > legend > .fieldset-legend {
      @extend .heading-size-4; 
      @include font-weight-bold;
      letter-spacing: -2px;
      text-transform: uppercase;
      color: $darkgray;  
    }
  }

  label,
  .fieldset-legend {
    @include font-weight-book;
    @include font-size(18px);
    padding: 1em 0 0.5em 0;
    display: inline-block;
  }

  .form-item {
    margin-bottom: 1em;
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .form-wrapper {
    border: none;
  }

  .ief-form {
    background: $lightsilver;
    margin: 2em 0;
    padding: 1.5em;
    > div {
      margin-bottom: 1em;
    }
    .ief-form {
      background: darken($lightsilver, 5%);
    }
  }
  .form-actions {
    border-top: 2px solid $lightsilver;
    padding-top: 10px;
    @include at-breakpoint($layout-small) {
      margin-top: 40px;
      padding-top: 30px;
    }
  }
}

.ui-dialog-content {
  background: $white;
}
