.node-form  {
  padding-bottom: 260px;
  @include at-breakpoint($layout-small) {
    padding-bottom: 170px;
  }
  @include at-breakpoint($layout-medium) {
    padding-bottom: 110px;
  }
  input[type="submit"] {
    @include font-weight-medium;
    @include font-size(14px);
    display: inline-block;
    margin: 0.5em 1em 0.5em 0;
    padding: 1em 3em;
    width: 100%;
    @include at-breakpoint($layout-small) {
      min-width: 220px;
      width: auto;
    }
    &#edit-cancel {
      background: #fff;
      color: #0098d0;
    }
  }

  input[type="text"],
  textarea {
    @include font-weight-medium;
    border: 2px solid $lightsilver;
    font-size: 14px;
    width: 100%;
    padding: 0.7em;
  }

  textarea {
    line-height: 1.5em;
  }

  .form-type-checkbox label,
  .form-type-radio label {
    margin: 0;
    padding: 0;
    &:before {
      background: $white;
      position: static;
      vertical-align: middle;
      margin-bottom: 2px;
    }
  }

  select {
    background: $white;
  }

  .ajax-progress-throbber {
    display: inline-block;
    position: relative;
    left: -45px;
    @include at-breakpoint($layout-mobile-only) {
      float: right;
      top: -58px;
      left: -10px;
    }
    .throbber {
      &:after {
        @include hy-icon($hy-spinner);
        @include hy-spin;
        color: $white;
        display: block;
      }
    }
    .message {
      display: none;
    }
  }

  #autocomplete {
    @include border;
    overflow: hidden;
    position: absolute;
    z-index: 100;
  }

  .button {
    display: inline-block;
  }

  .link-field-column {
    @include at-breakpoint($layout-small) {
      width: 50%;
      float: left;
      &:first-child {
        padding-right: 1em;
      }
    }
    label {
      padding-top: 0;
    }
  }

  .section-title {
    @include font-family-main;
    @include font-size(21px);
    @include font-weight-bold;
    width: 30px;
    display: block;
    color: $darkgray;
    letter-spacing: -0.05em;
    line-height: 1.1em;
    padding: 1em 0 0 0;
    text-transform: uppercase;
  }

  .fieldset-description {
    @include font-family-bodytext;
    @include text-paragraph;
    margin-top: 1em;
  }

  .vertical-tabs-pane {
    & > legend > .fieldset-legend {
      @extend .heading-size-3;
      @include font-weight-bold;
      padding-top: 0;
      letter-spacing: -2px;
      text-transform: uppercase;
      color: $darkgray;
    }
    & > .fieldset-wrapper > .form-wrapper > legend > .fieldset-legend {
      @extend .heading-size-4; 
      @include font-weight-bold;
      letter-spacing: -2px;
      text-transform: uppercase;
      color: $darkgray;  
    }
  }

  label,
  .fieldset-legend {
    @include font-weight-book;
    @include font-size(18px);
    padding: 1em 0 0.5em 0;
    display: inline-block;
  }

  .form-item {
    margin-bottom: 1em;
  }

  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .form-wrapper {
    border: none;
  }

  .ief-form {
    background: lighten($lightsilver, 5%);
    border: 2px solid $lightsilver;
    margin: 2em 0;
    padding: 1.5em;
    > div {
      margin-bottom: 1em;
      clear: both;
    }
    > legend {
      float: left;
      & > .fieldset-legend {
        @extend .heading-size-4;
        @include font-weight-bold;
        padding-top: 0;
        letter-spacing: -2px;
        text-transform: uppercase;
      }
    }
    .ief-form {
      background: $lightsilver;
    }
  }
  .form-actions {
    position: fixed;
    width: 100%;
    padding-right: 2em;
    bottom: 0;
    background: $white;
    border-top: 2px solid $lightsilver;
    padding-top: 10px;
    padding-bottom: 20px;
    @include at-breakpoint($layout-mobile-only) {
      left: 0;
      padding: 0.5em;
      input[type="submit"] {
        width: auto;
        font-size: 12px;
        min-width: 65px;
        padding: 0.8em 1em;
        margin: 0 1em 0 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    @include at-breakpoint($layout-small) {
      max-width: 71em;
      margin: 40px auto 0;
      padding-top: 30px;
    }
  }
}

.ui-dialog-content {
  background: $white;
}

.ui-datepicker {
  @include shadow-under;
  background: $white !important;
  border: 2px solid $lightsilver !important;
  .ui-datepicker-next,
  .ui-datepicker-prev {
    .ui-icon {
      font-size: 0;
      &:after {
        @include hy-icon($hy-arrow);
        display: block;
        font-size: initial;
      }
    }
  }
  .ui-datepicker-prev .ui-icon:after {
    @include transform(rotate(180deg));
  }
}
