.node-form {
  th {
    text-align: left;
  }
  table {
    margin: 2em 0;
  }

  tr {
    @include border-bottom;
    .form-wrapper,
    .form-item {
      margin: 0;
    }

    &.drag {
      background: $lightsilver;
    }
    .tabledrag-changed {
      position: absolute;
      width: 24px;
      display: block;
      text-align: center;
    }

    .handle:after {
      @include font-awesome("\f047");
      margin-right: 1em;
    }
    @include at-breakpoint($layout-mobile-only) {
      display: block;
      padding: 1em 0;
    }
  }

  td:last-child {
    padding-right: 0;
  }

  td:not(.ief-tabledrag-handle):not(.field-multiple-drag) {
    @include hyphenate;
    display: block;
    @include at-breakpoint($layout-small) {
      display: table-cell;
      padding: 1em;
      min-width: 160px;
    }
  }
  td.ief-tabledrag-handle,
  td.field-multiple-drag {
    display: none;
    @include at-breakpoint($layout-small) {
      display: table-cell;
    }
  }

  td.inline-entity-form-node-title {
    @include at-breakpoint($layout-mobile-only) {
      @include font-weight-bold;
      text-transform: uppercase;
      margin-bottom: 0.5em;
    }
  }

  .ief-entity-table {
    th {
      display: none;
      @include at-breakpoint($layout-small) {
        display: table-cell;
        padding: 0.5em 1em;
      }
    }
    .ief-row-entity {
      input[type="submit"] {
        @include font-weight-book;
        color: $blue;
        font-size: inherit;
        width: auto;
        min-width: auto;
        background: transparent;
        padding: 0;
        display: inline-block;
      }
      .ajax-progress-throbber {
        left: -10px;
        @include at-breakpoint($layout-mobile-only) {
          top: 0;
          float: none;
        }
        .throbber:after {
          color: $blue;
        }
      }
    }
    .ief-row-form {
      td {
        padding: 0 !important;
      }
    }
  }
}
