.node-form {
  th {
    text-align: left;
  }
  table {
    margin: 2em 0;
  }

  tr {
    @include border-bottom;
    .form-wrapper,
    .form-item {
      margin: 0;
    }

    &.drag {
      background: $lightsilver;
    }
    .tabledrag-changed {
      position: absolute;
      width: 24px;
      display: block;
      text-align: center;
    }

    .handle:after {
      @include font-awesome("\f047");
      margin-right: 1em;
    }
  }

  td:last-child {
    padding-right: 0;
  }
}

.ief-entity-table {
  th {
    display: none;
    @include at-breakpoint($layout-small) {
      display: table-cell;
      padding: 0.5em 1em;
    }
  }
  .ief-row-entity {
    input[type="submit"] {
      width: auto;
    }
  }
  .ief-row-form {
    td {
      padding: 0 !important;
    }
  }

  td:not(.ief-tabledrag-handle):not(.field-multiple-drag) {
    @include hyphenate;
    padding: 0 1em;
    display: block;
    @include at-breakpoint($layout-small) {
      display: table-cell;
      min-width: 160px;
    }
  }
}
