.node-form  {
  .vertical-tabs-list {
    li {
      background: $blue;
      padding: 0.5em 1em;
      margin-bottom: 2px;
      a {
        color: $white;
      }
      &.selected {
        background: $white;
        a {
          color: $blue;
        }
      }
      strong {
        @include font-weight-medium;
        display: block;
      }
    }
  }
  .vertical-tabs-pane {
    > legend {
      @include font-size(32px);
    }
  }
}
