.l-main,
.l-content-suffix,
.l-action-footer,
.l-region--footer,
.l-region--info-footer {
  @include container;
}

.l-top-bar {
  position: relative;
}

// At a given Susy Media Layout, use a given amount of columns.
// Styles for site when the menu-bar is in slim-mode
@include at-breakpoint($layout-small) {
  .l-top-bar,
  .l-main,
  .l-region--menu-bar {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
  }

  .l-top-bar {
    @include container;
  }

  .l-region--menu-bar {
    @include container;
  }

  .l-main {
    padding-top: 30px;
  }

  .l-navigation {
    @include span-columns(4 omega, 16);
    margin-left: 2%;
  }

  .l-content-sidebar-left {
    @include span-columns(6, 16);
  }

  .l-content-sidebar-right {
    @include span-columns(4 omega, 16);
    margin-left: 4%;
  }
}

.l-content {
  padding: 1em 0;

  p:first-child {
    margin-top: 0.2em;
  }

  @include at-breakpoint($layout-small) {
    padding: 0 0 2em 0;
  }
}
