.l-main,
.l-content-suffix,
.l-action-footer,
.l-info-footer {
  @include container;
  @include clearfix;
}

.l-page {
  position: relative;
}

// At a given Susy Media Layout, use a given amount of columns.
// Styles for site when the menu-bar is in slim-mode
@include breakpoint($small) {
  .l-content-sidebar-right {
    @include float-span(4, last);
    margin-left: 4%;
  }

  .menu-bar {
    @include container;
    @include clearfix;
  }

  .menu-wrapper {
    border-bottom: 1px solid lighten($silver, 20%);
  }
}

.l-main {
  padding-top: 30px;
}

.l-content {
  p:first-child {
    margin-top: 0.2em;
  }

  @include breakpoint($small) {
    padding: 0 0 2em 0;
  }
}

.ds-node-sidebar {
  margin: 2em 0;
  @include breakpoint($small) {
    @include accessible-border-left;
    margin: 0;
    padding-left: 1.5em;
  }
}

