.l-footer {
  background-color: $black;
  padding-bottom: 10px;

  .logo {
    float: left;
    display: none;
    margin-top: 0;

    .site-logo {
      padding: 0;
      height: auto;
    }

    @include at-breakpoint($layout-medium) {
      display: block;
      margin-right: 0.5em;
    }

    @include at-breakpoint($layout-large) {
      margin-right: 2em;
    }
  }

  .contact {
    h4, p {
      text-align: center;
      padding: 0;
    }

    @include at-breakpoint($layout-small) {
      float: left;

      h4, p {
        text-align: left;
      }
    }

    h4 {
      @include font-size(16px);
      margin: 0 0 1.3em;
    }
    p {
      @include font-size(14px);
      line-height: 1.2em;
    }
    br {
      display: block;
    }
  }

  h4, p {
    color: $white;
  }

  // This block is in template.
  .copyright {
    p {
      @include text-informative;
      @include font-size(12px);
      color: $lightsilver;
      font-weight: 500;
      padding: 1em 0;
      text-align: center;
      margin-bottom: 0;
    }
    @include at-breakpoint($layout-small) {
      text-align: left;
      margin-top: -50px;
      @include span-columns(4 omega, 12);
      p {
        text-align: left;
      }
    }
  }
}
