// TODO: refactoring needed for this file

// Gridder
@mixin gridder-box($gridder-box-width) {
  $gridder-box-height: 400px;
  margin-bottom: 20px;
  padding: 0 1em;
  overflow: hidden;

  @include at-breakpoint($layout-small) {
    min-height: $gridder-box-height;
    float: left;
    width: 50%;
  }

  @include at-breakpoint($layout-medium) {
    height: $gridder-box-height;
    width: $gridder-box-width;

    @for $i from 1 through 4 {
      &.gridder-box-width-#{$i} {
        width: ($gridder-box-width) * $i;
      }

      &.gridder-box-height-#{$i} {
        height: ($gridder-box-height) * $i;
      }
    }
  }
}

@for $grid-columns from 1 through 4 {
  // We need a bigger gutter when fewer grid-columns
  $grid-gutter: (1 / ($grid-columns / 4)) + em;

  .gridder-container-#{$grid-columns} {
    margin: 0 -1em;

    .gridder-box {
      @include gridder-box(100% / $grid-columns);
      padding: 0 $grid-gutter;
    }
  }
}
