// Header

// Topbar
.l-top-bar-wrapper {
  background-color: $white;
  @include at-breakpoint($layout-small) {
    background-color: $black;
  }
}

.l-top-bar {
  position: relative;
  @include at-breakpoint($layout-small) {
    @include container;
  }
}

.l-menu-bar {
  @include at-breakpoint($layout-small) {
    border-bottom: 1px solid lighten($silver, 20%);
    .l-region--menu-bar {
      @include container;
    }
  }
}

.logo-block {
  background-color: $black;
  clear: both;

  @include at-breakpoint($layout-small) {
    clear: none;
    float: left;
  }
}

.site-logo {
  height: 60px;
  padding: 10px 0 5px 22px;

  @include at-breakpoint($layout-small) {
    padding: 10px 0 0;
  }
}

.site-name {
  @include font-weight-bold;
  @include font-size(17px);
  color: $white;
  display: inline-block;
  padding: 24px 0 0 15px;
  vertical-align: top;

  @include at-breakpoint($layout-small) {
    padding-top: 26px;
  }
}
