@mixin dropdown-menu($max-height: none, $side: 'right', $background: $white) {
  @include transition(all 0.5s cubic-bezier(0.15, 1, 0.33, 1) 0s);
  z-index: 1;
  font-size: 0.85em;
  overflow-x: hidden;
  overflow-y: scroll;
  background: $background;
  position: absolute;
  #{$side}: 0;
  max-height: 0;
  width: 330px;
  &:before {
    @include alternative-arrow($lightsilver, 10px, 'up');
    position: absolute;
    top: -11px;
    #{$side}: 12px;
  }
  &:after {
    @include alternative-arrow($background, 10px, 'up');
    position: absolute;
    top: -10px;
    #{$side}: 12px;
  }
  &.collapsed {
    @include border;
    overflow: visible;
    max-height: $max-height;
  }
}

@mixin dropdown-list-item() {
  @include border-bottom;
  margin: 0 10px;
  &:last-child {
    border-bottom: 0;
  }
  a {
    padding: 10px 0;
    display: block;
    line-height: initial;
  }
}

@mixin select-header() {
  @include transition(all 0.2s ease-in-out);
  @include font-weight-medium;
  @include border;
  display: block;
  cursor: pointer;
  padding: 8px;
  margin-bottom: -1px;
  color: $blue;
  font-size: 0.875em;
  width: 100%;
  &:after {
    @include icon($icon-drop-down);
    float: right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.collapsed {
    color: $white;
    background: $darkblue;
  }
}

@mixin chosen-dropdown() {
  .chosen-container {
    cursor: pointer;
    position: relative;
    width: auto !important;
    .chosen-single {
      color: $gray;
      display: inline-block;
      line-height: 50px;
      padding: 0 2em 0 0.5em;
      &:after {
        @include icon($icon-drop-down);
        color: $blue;
        position: absolute;
        top: 0;
        right: 10px;
      }
    }
    .chosen-drop {
      @include dropdown-menu();
      right: -9px;
      margin-top: 5px;
      font-size: 1em;
      width: auto;
      min-width: 150px;
      color: $blue;
      .chosen-search {
        display: none;
      }
    }
    &.chosen-with-drop {
      .chosen-single:after {
        color: $black;
      }
      .chosen-drop {
        @include border;
        overflow: visible;
        max-height: none;
        li {
          padding: 0.5em 0;
          margin: 0 1em;
          @include border-bottom;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
