@mixin menu-item-icon($icon) {
  color: $blue;
  &:before {
    @include hy-icon($icon);
    @include font-weight-book;
    margin-right: 20px;
  }
  @include at-breakpoint($layout-small) {
    display: block;
    font-size: 0px;
    line-height: 0;
    &:before {
      font-size: 15px;
      line-height: 60px;
      margin-right: 0;
    }
  }
}
