@mixin menu-item-icon($icon) {
  color: $blue;
  display: flex;
  &:before {
    @include icon($icon);
    @include font-weight-book;
  }
  @include breakpoint($small) {
    font-size: 0px;
    line-height: 0;
    &:before {
      font-size: 15px;
      line-height: 56px;
      margin-right: 0;
    }
  }
}
