/// Mixin to customize scrollbars
@mixin scrollbar() {
  overflow-y: scroll;
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  0.5em;
      height: 0.5em;
  }

  ::-webkit-scrollbar-thumb {
      background: $blue;
  }

  ::-webkit-scrollbar-track {
      background: $lightsilver;
  }

  // For Internet Explorer
  scrollbar-face-color: $blue;
  scrollbar-track-color: $lightsilver;
}
