.field-group-accordion-item,
.accordion-item,
.accordion-content-item,
.ds-teaser-accordion--content {
  display: block !important;
}

.ds-grid-8, .ds-grid-18 {
  width: 100% !important;
}

.messages,
.l-top-bar-wrapper,
.l-menu-bar,
.l-breadcrumb,
.ds-node-banner img,
.accordion-item:before,
.ds-teaser-accordion--title:before,
.field-name-field-imp-canonical-url,
.tabs--primary,
.links--inline,
.activity,
#block-hy-content-suffix-hy-content-suffix-up-anchor,
#block-menu-menu-open-university-footer-link,
#block-menu-menu-open-university-some-links,
#block-feedback-form,
#comments h2,
#comments form,
.moodle-button,
.group-course-messages,
.group-imp-material,
.group-imp-feedback,
.ghost-accordion,
.group-imp-video,
.print-hidden,
.joyride-tip-guide,
footer,
.l-region--info-footer,
.ds-node-sidebar,
.ds-node-banner {
  display: none !important;
}

* {
  color: #000000 !important;
  padding-left: 0 !important;
  margin: 0 !important;
  overflow: visible !important;
}

.ds-node-content,
.ds-node-banner {
  float: none !important;
}

.ds-node-metadata label {
  margin-right: 0.35em !important;
}

.ds-node-content {
  font-size: 0.7rem;
}

p {
  line-height: 1.4em;
}

li {
  font-size: 0.7rem !important;
}

.event-list .event-column {
  width: 50% !important;
}

.event-list .field {
  width: 50%;
}

.tube--large {
  padding: 0 !important;
}

.l-main {
  padding-top: 0;
}

.accordion-item__light, .accordion-item {
  clear: both;
  padding: inherit;
}

h1 {
  font-size: 1.5rem;
}
