.open-university .info-link {
  display: none;
}

.portal-promotions {
  padding: 4em 0 1em 0;
}
.portal-promotions .button-internal {
  border-bottom: none;
}

.link-multiple {
  border-bottom: none !important;
}
