.l-action-footer-wrapper {
  .l-action-footer {
    .block--uhc-doo-theme-features-last-updated {
      @include font-size(14px);
      float: left;
      line-height: 60px;
    }
    .block--uhc-doo-theme-features-up-anchor {
      float: right;
      a#up-anchor {
        @include button-anchor--up;
      }
    }
  }
}
