.course-hierarchy {
  a.active {
    color: $darkblue;
  }
  > li {
    @include button-next-transparent;
    padding-right: 0;
    > a {
      @include link-menu;
      text-transform: none;
    }
    &:after {
      display: none;
    }
  }
  li.root {
    > .item-list {
      ul.root {
        @include accessible-border-left;
        margin: 1em 0;
        li {
          padding: 0 1em 1.2em 2em;
          position: relative;
          a {
            @include font-size(15px);
            color: $silver;
            &.active {
              color: $darkgray;
              &:before {
                @include alternative-arrow($darkblue, 8px, 'right');
                position: absolute;
                left: 0;
                top: 10%;
              }
            }
          }
          &.my-enrollment > a:after {
            @include icon($icon-done);
            color: $light-green;
            position: absolute;
            right: 0;
            top: 6%;
          }
          &:last-child {
            padding-bottom: 0;
          }
        }
        li.studygroupset {
          padding: 0;
          > a {
            display: none;
          }
        }
        > li {
          margin-bottom: 1em;
          &:after {
            @include accessible-border-bottom;
            content: '';
            display: block;
            margin-top: 1em;
          }
          &.studygroup,
          &.studygroupset {
            &:after {
              //margin-left: 2em;
            }
          }
          &:last-child {
            &:after {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  @include breakpoint($small) {
    padding-bottom: 2em;
  }

  @include breakpoint($mobile-only) {
    background: $lightsilver;
    border-top: 1px solid darken($lightsilver, 10%);
    > li {
      padding: 0;
      > a {
        border-bottom: 1px solid darken($lightsilver, 10%);
        text-transform: uppercase;
        padding: 20px 20px 20px 60px;
      }
      &.root {
        > a {
          /*
          @include menu-item-icon($icon-arrow);
          padding-left: 20px;
          &:before {
            @include transform(rotate(90deg));
            display: inline-block;
          }
          */
        }
        & > .item-list {
          margin-bottom: 0;
          ul.root {
            margin: 15px 15px 15px 60px;
            border-left: 1px solid darken($lightsilver, 10%);
            li {
              padding-left: 35px;
            }
            > li {
              &:after {
                border-bottom: 1px solid darken($lightsilver, 10%);
              }
              &.last:after {
                margin-top: 0;
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}
