.course-hierarchy {
  a.active {
    color: $darkblue;
  }
  > li {
    @include button-next-transparent;
    padding-right: 0;
    > a {
      @include link-menu;
      text-transform: none;
    }
    &:after {
      display: none;
    }
  }
  li.root {
    > .item-list {
      ul.root {
        li {
          position: relative;
          a {
            @include font-size(15px);
            color: $silver;
            &.active {
              color: $darkgray;
            }
          }
          &.my-enrollment > a:after {
            @include icon($icon-done);
            color: $light-green;
            position: absolute;
            right: 0;
            top: 6%;
          }
          &:last-child {
            padding-bottom: 0;
          }
        }
        &:first-child {
          padding-top: 1em;
        }
        li.studygroupset {
          @include accessible-border-top;
          padding: 0;
          > a {
            display: none;
          }
        }
        > li {
          &:after {
            content: '';
            display: block;
          }
          &:last-child {
            &:after {
              @include accessible-border-bottom;
            }
          }
        }
      }
    }
  }

  @include breakpoint($small) {
    padding-bottom: 2em;
  }

  @include breakpoint($mobile-only) {
    background: $lightsilver;
    border-top: 1px solid darken($lightsilver, 10%);
    > li {
      padding: 0;
      > a {
        border-bottom: 1px solid darken($lightsilver, 10%);
        text-transform: uppercase;
        padding: 20px 20px 20px 60px;
      }
      &.root {
        & > .item-list {
          margin-bottom: 0;
          ul.root {
            margin: 15px 15px 15px 60px;
            border-left: 1px solid darken($lightsilver, 10%);
            li {
              padding-left: 35px;
            }
            > li {
              &.last:after {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
