/**
* Expected metadata setup consists from a variation of inline text elements which
* either float to the left or right
*/

.ds-node-metadata-wrapper {
  @include border-side(top);
}

.ds-node-metadata-header {
  float: right;
}

.ds-node-metadata {
  width: 100%;
  clear: both;

  @include border-side(bottom);
  display: block;

  font-size: 0.875em;
  line-height: 2em;

  .field {
    margin-right: 1em;
  }
  .strong {
    font-weight: 900;
  }
  .highlight {
    color: $blue;
  }
  .date {
    float: right;
  }
  label {
    margin-right: 0.35em;
  }
  .teaching-languages {
    display: block;
    span {
      font-weight: 900;
    }
  }
  .label-row.help {
    display: inline-block;
  }
  .flexible-start {
    line-height: 1.5em;
    @include breakpoint($small) {
      margin: 0 0 0 0.8em;
    }
  }
}

.ds-node-metadata-footer {
  .favoritewidget {
    float: right;
    &.button__inline {
      min-width: unset;
      margin-right: 0;
      padding-right: 0;
    }
  }
  .rss {
    padding-top: 12px;
    display: block;
    float: right;
    img {
      margin-top: 2px;
      vertical-align: top;
    }
    span {
      padding-left: 5px;
    }
  }
}

.label-row.help + .description-toggle {
  display: inline !important;
}

// Open University context: Do not display organisation.
body.open-university {
  .ds-node-metadata .field-imp-organisation,
  .view-id-course_node_references .field-imp-organisation {
    display: none;
  }

  // Add a comma before locality field.
  .ds-node-metadata .field-imp-locality:before,
  .view-id-course_node_references .field-imp-locality:before{
    content: ", ";
  }
}

// Other than Open University context: Do not display organiser nor locality.
body:not(.open-university) {
  .ds-node-metadata .field-imp-course-organiser,
  .ds-node-metadata .field-imp-locality,
  .view-id-course_node_references .field-imp-course-organiser {
    display: none;
  }
}

// Simulate a line break before (but not after) the organisation element.
.ds-node-metadata .field-imp-organisation:before {
  content: ' ';
  clear: right;
  display: block;
}
