/**
* Expected content setup consists from link to course registration, regular
* text, accordion items, and accordion lists
*/

.ds-node-content {
  @include pie-clearfix;
  @extend %textarea--small;
}
.field--name-field-imp-header-image {
  float: none;
  padding: 0 2em 0 0;
}
.field--name-field-imp-header-image-caption {
  @include text-filter-label();
}

[class*="content-header-promotion--"] {
  width: 100%;
  @include at-breakpoint($layout-small) {
    float: left;
    width: 50%;
  }
}

// Register button
[class*="enrollment-button"] {
  display: inline-block;
  margin-bottom: 1em;
  margin-right: 2em;
}

// Enrollment period
.enrollment-period {
  @include font-size(14px);
  @include border;
  padding: 0.9em 2em;
  &:before {
    @include hy-icon($hy-time);
    margin-right: 0.5em;
  }
  @include at-breakpoint($layout-small) {
    display: inline-block;
  }
}

.accordion-content-label,
.accordion-content--label,
.accordion-content-item--label {
  @include font-family-main;
  @include font-weight-bold;
  @include font-size(15px);
  text-transform: uppercase;
  display: block;
  margin-bottom: 1em;
}
