/**
*   DS teaser styles 
*/
.node--teaser.node--course-implementation {
  &.exam {
    border-left: 3px solid $orange;
  }
  .field {
    padding-left: 1em;
    @include at-breakpoint($layout-small) {
      float: left;
      width: 50%;
    }
  }
}
