/**
*   DS teaser styles 
*/
.node--teaser.node--course-implementation {
  &.exam {
    border-left: 3px solid $orange;
  }
  .field {
    padding-left: 1em;
    @include at-breakpoint($layout-small) {
      float: left;
      width: 50%;
    }
  }
}

/* accordion teaser */
.ds-teaser-accordion {
  @include at-breakpoint($layout-small) {
    margin-left: 2.6em;
  }
  // clean styles
  .accordion-style-clean {
    &.ds-teaser-accordion--title {
      padding: 0 0 1em 0;
      border: 0;
      //border-top: 1px solid $lightsilver;
      border-bottom: 1px solid $lightsilver;
      background: transparent;
      &.is-active {
        border-bottom: 0;
      }
      &:before {
        color: $blue;
      }
    }
    &.ds-teaser-accordion--content {
      border-bottom: 1px solid $lightsilver;
    }
    .ds-teaser-accordion--title_header {
      color: $black;
    }
    .ds-teaser-accordion--title_header {
      padding: 0;
    }
  }
  p {
    font-size: inherit;
  }
  // add bordertop for first item
  .views-row-first & .accordion-style-clean.ds-teaser-accordion--title {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid $lightsilver;
  }
  .views-row-first & .icon-placement-right {
    &:before {
      top: 2.6em;
    }
  }
}

// second level accordions fix
[class*="group-accordion-item"] .ds-teaser-accordion {
  margin-top: 1em;
}

.ds-teaser-accordion--title {
  position: relative;
  width: 100%;
  padding-left: 2.4em;
  border: 1px solid $blue;
  background: $blue;

  font-size: 1em;
  &:hover {
    cursor: pointer;
  }
  &:before {
    content: "\f054";
    position: absolute;
    top: 0.85em;
    left: 0.9em;

    font-family: "FontAwesome";
    color: $white;
  }
  .field-name-field-imp-begin-date {
    float: right;
  }
  &.is-active:before {
    content: "\f078";
    left: 0.65em;
  }
   // icon setting
  &.icon-placement-right {
    padding-left: 0;
    padding-right: 2.4em;
    &:before {
      top: 1.6em;
      left: auto;
      right: 0.9em;
    }
    &.is-active:before {
      left: auto;
      right: 0.65em;
    }
  }
  p { // remove margin and padding
    margin: 0;
    padding: 0;
  }
}

.ds-teaser-accordion--title_header {
  padding: 0.65em;
  margin: 0;

  background: $white;

  color: $blue;
  font-size: 1em;
  //font-weight: normal;
  text-transform: none;
}

.ds-teaser-accordion--title-loc-time {
  float: right;
  padding: 0.65em;

  font-size: 1em;
  color: $silver;
}

.ds-teaser-accordion--title_timespan {
  color: $silver;
}

.ds-teaser-accordion--content {
  margin-top: 2em;
  padding-bottom: 2em;
  > .ds-teaser-accordion--content--indented {
    padding: 0 10px;
    @include at-breakpoint($layout-small) {
      padding: 0 40px;
    }
  }
}

.ds-teaser-accordion--content-field {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgb(221, 221, 221);

  font-size: 1em;
  overflow: hidden;
  .label-above {
    font-weight: 900;
    @include at-breakpoint($layout-small) {
      float: left;
      min-width: 12em;

      font-weight: normal;
    }
  }
  .content {
    @include at-breakpoint($layout-small) {
      float: left;
      max-width: 32em;
    }
  }
}

/* fix bug with sub-accordion item widh */
.field-group-accordion-item {
  width: 100%;
  padding: 0 0 1em;

  .views-row-first {
    padding-top: 1em;
  }
}
