.ds-node-sidebar {
  margin: 2em 0;
  @include breakpoint($small) {
    @include border-left;
    margin: 0;
    padding-left: 1.5em;
  }
}

.related-content-section {
  margin-bottom: 2em;
  ul {
    margin-top: 0.5em;
  }
}
