/**
*    Display suite material block styles (used in course implementation timetable)
*/

.ds-material-block {
  @include font-family-main;
  @include hyphenate;
  padding: 1em 0;
  border-top: 1px solid $lightsilver;
  @include breakpoint($small) {
    width: 100%;
  }
}

.ds-material-block--content {
  overflow: hidden;
  @include breakpoint($medium) {
    width: 100%;
  }
  a {
    @include font-weight-bold;
  }
  .field {
    @include breakpoint($small) {
      float: left;
      width: 30%;
      padding-left: 1em;
      &:first-child {
        width: 40%;
        padding-left: 0;
      }
    }
    &.field--name-uhc-ds-finna-link {
      a:before {
        @include icon($icon-search);
        color: $blue;
        padding-right: 0.5em;
      }
      @include breakpoint($small) {
        float: right;
        text-align: right;
        padding-right: 1em;
      }
    }
  }
}

.material-block--title {
  @include font-weight-bold;
}

// helper
.remove-styles {
  p {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    &:first-child {
      margin: 0;
      padding: 0;
    }
  }
}

.meta-information {
  div {
    float: left;
  }
}
