/**
* Styles for "beta services" - site, promotion list
* ::: image, title, text, and link to
*/

.ds-portal-promotion {
  overflow: hidden;
}

.ds-portal-promotion--item {
  display: inline;
  float: left;
  margin-bottom: 2em;
  @include at-breakpoint($layout-small) {
    width: 31.333333333%;
  }
  // Needs IE 8 support - maybe
  &:nth-child(3n + 2) {
    @include at-breakpoint($layout-small) {
      margin-left: 3%;
      margin-right: 3%;
    }
  }
  &:nth-child(3n + 4) {
     @include at-breakpoint($layout-small) {
      clear: left;
    }
  }
}
