/**
* Expected metadata setup consists from a variation of inline text elements which
* either float to the left or right
*/

.ds-node-metadata {
  width: 100%;
  clear: both;

  @include border-side(top);
  @include border-side(bottom);
  display: block;
  padding: 6px 0 5px;

  font-size: 0.875em;
  line-height: 2em;

  .field {
    margin-right: 1em;
  }
  .strong {
    font-weight: 900;
  }
  .highlight {
    color: $blue;
  }
  .date {
    float: right;
  }
  label {
    margin-right: 0.35em;
  }
  .teaching-languages {
    display: block;
    span {
      margin-left: 0.35em;
      font-weight: 900;
    }
  }
  .rss {
    padding: 0 0 0 10px;
    line-height: 22px;
    display: block;
    float: right;
  }
  @include breakpoint($large) {
    .teaching-languages {
      float: right;
    }
  }
}
