.event-list {
  .event-list-header {
    margin-top: 1em;
    .event-time,
    .event-title {
      display: none;
      @include breakpoint($medium) {
        display: inline-block;
      }
    }
  }
  .event {
    @include accessible-border-top;
    clear: both;
    overflow: hidden;
    padding: 0.5em 0;
  }
  .event-column {
    float: left;
    width: 50%;
  }
  .field {
    @include hyphenate;
    padding-right: 0.5em;
    width: 100%;
    display: inline-block;
    @include breakpoint($medium) {
      width: 49%;
    }
  }
  &.table-three-columns .event-location {
      width: 100%;
  }
}
