.event-list {
  .event-list-header {
    margin-top: 1em;
    .event-time,
    .event-title {
      display: none;
      @include breakpoint($medium) {
        display: inline-block;
      }
    }
  }
  .event {
    @include accessible-border-top;
    clear: both;
    overflow: hidden;
    padding: 0.5em 0;
  }
  .event-column {
    @include breakpoint($small) {
      float: left;
      width: 33%;
    }
  }
  .event-column-initial-width {
    @include breakpoint($small) {
      float: left;
      width: initial;
    }
  }
  .field {
    @include hyphenate;
    padding-right: 0.5em;
    width: 100%;
    display: inline-block;
    @include breakpoint($medium) {
      width: 49%;
    }
  }
  .field.event-optime-extras {
    @include breakpoint($medium) {
      width: auto;
    }
    span {
      display: block;
      &:not(:last-child) {
        padding-bottom: 1em;
      }
      &:empty {
        padding-bottom: 0;
      }
    }
  }
  &.table-three-columns .event-location {
      width: 100%;
  }
}
