.fatmenu {
  background-color: $white;
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 11;

  .stickynav-active & {
    position: fixed;
  }

  &.is-open {
    @include shadow-under;
    @include border-bottom;
  }
  
  @include at-breakpoint($layout-small) {
    display: block;
  }

  .menu-block-wrapper {
    // @include set-container-width;
    @include container;
    height: 0;
    overflow: hidden;
    position: relative;

    p.exit {
      @include font-weight-medium;
      @include font-size(16px);
      color: $darkblue;
      cursor: pointer;
      display: none;
      position: absolute;
      right: 10px;
      top: 15px;
      text-transform: uppercase;

      &:hover {
        color: darken($darkblue, 10%);
      }

      &:before {
        @include font-awesome("\f00d");
        padding-right: 5px;
      }
    }
  }

  a {
    @include font-weight-bold;
    @include font-size(15px);
    color: $blue;
    display: block;
    line-height: 1.25em;
    letter-spacing: 0.01em;
    text-decoration: none;
    padding: ($vert-spacing-unit)/2 0 0;
  }

  .level-1 {
    float: left;
    margin-right: -100%;
    visibility: hidden;
    padding: 5px 0 10px;
    width: 100%;

    &.is-open {
      visibility: visible;
      display: block !important;
      margin-right: 0;

      > a {
        display: none;
      }
    }
  }

  .level-2 {
    @include border-bottom;
    margin-right: 10px;
    padding: 0 0 0.8em 0;
    width: 30%;

    > .menu {
      margin: 0.5em 0 0 0;
      padding: 0;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }

    &.last {
      border-bottom: 0 none;
    }

    > a {
      color: $blue;
      letter-spacing: 0;
      position: relative;
      text-transform: uppercase;

      &:hover {
        color: $darkblue;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }

      &.active-trail {
        color: $darkblue;
      }
    }
  }

  .level-3 {
    a {
      @include font-size(14px);
      @include font-weight-book;
      color: $gray;
      padding: ($vert-spacing-unit)/7 0 ($vert-spacing-unit)/7 0;
      position: relative;
      text-transform: none;

      &:hover,
      &.active-trail {
        color: $darkblue;
      }
    }
  }

  .level-4 {
    display: none;
  }
}

.close-fatmenu {
  @include font-size(14px);
  color: $blue;
  cursor: pointer;
  height: 100%;
  padding: 0 0.8em;
  position: absolute;
  text-align: center;
  right: -5%;
  top: 0;
  z-index: 11;
  
  @include at-breakpoint($layout-medium) {
    right: -2%;
  }

  &:before {
    @include font-awesome("\f00d");
    @include transition-duration(0.1s);
    @include transition-property(transform);
    //@include vertically-center;
    color: $silver;
    left: 0;
    width: 100%;
  }

  &:hover:before {
    @include transform(translateY(-50%) translateZ(0) scale(1.2));
    color: $gray;
  }

  &:hover {
    color: $darkblue;
  }
}
