#block-feedback-form {
  bottom: 20px;
  overflow: visible;
  form {
  	background: $black;
    color: $white;
    border: 1px solid #444;
    min-width: 300px;
    padding: 1em;
    opacity: 1;
    #feedback-submit {
      @include font-weight-medium;
      @include font-size(13px);
      background: transparent;
      min-width: auto;
      padding: 0;
      &:hover {
        background: transparent;
      }
    }
    label {
      @include font-weight-medium;
      @include font-size(13px);
      color: $silver;
    }
    .form-type-checkbox {
      label {
        color: $silver;
        display: block;
        margin-bottom: 10px;
      }
    }
    input[type=checkbox] + label:before {
      color: $silver;
      border-color: $silver;
    }
    textarea[name=message] {
      @include font-size(13px);
      @include input-placeholder {
        color: $white;
        opacity: 1;
      }
      color: $white;
      background: transparent;
      padding: 0;
      height: 8em;
      resize: none;
      border: none;
      &:focus {
        outline: none;
      }
    }
    input[type=text] {
      @include font-weight-medium;
      @include font-size(13px);
      color: $white;
      background: transparent;
      border: 0;
      border-bottom: 1px solid $silver;
    }
  }
  .grippie {
    display: none;
  }
  .feedback-link,
  #feedback-status-message {
    font-size: 0;
    position: fixed;
    right: 20px;
    bottom: 20px;
    letter-spacing: initial;
    display: block;
    padding: 0.8em 1em 1em 1.4em;
    line-height: 1em;
    width: 50px;
    height: 50px;
    text-align: center;
    background: $black;
    color: $white;
    text-transform: initial;
    &:before {
      @include icon($icon-chat);
      @include font-size(32px);
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
    @include breakpoint($small) {
      @include font-size(13px);
      width: 90px;
      height: 90px;
      &:before {
        width: 60px;
        line-height: 40px;
        height: 45px;
      }
    }
  }
  #feedback-status-message {
    background: $light-green;
    &:before {
      @include icon($icon-done);
    }
  }
  #feedback-form-toggle {
    position: absolute;
    display: none;
    right: 1em;
    margin-bottom: 1em;
    bottom: 0;
    z-index: 999;
    color: $white;
    &:after {
      @include icon($icon-remove);
      position: absolute;
      right: 0.4em;
      bottom: 0.4em;
    }
  }
  &.open {
    .feedback-link {
      visibility: hidden;
    }
    #feedback-form-toggle {
      font-size: 0;
      visibility: visible;
      display: block;
      &:after {
        @include font-size(14px);
        padding: 1em;
      }
    }
  }
}
