.l-footer {
  @include clearfix;
  position: relative;
  background-color: $black;
  color: $white;
  padding: 1.5em 0;

  .logo {
    float: left;
    display: none;
    .site-logo {
      height: auto;
    }
    @include breakpoint($small) {
      display: block;
      margin-right: 2em;
    }
  }

  .contact {
    float: left;
    h4 {
      @include font-size(16px);
      color: $white;
      margin: 0 0 1.3em;
    }
    p {
      @include font-size(14px);
      line-height: 1.2em;
    }
  }

  // This block is in template.
  .copyright {
    @include text-informative;
    @include font-size(12px);
    margin-bottom: 0;
    color: $lightsilver;
    text-align: center;
    @include breakpoint($small) {
      position: absolute;
      bottom: 2em;
      right: 15%;
    }
  }
}

