.block--locale,
.block--menu-menu-header-links {
  li {
    display: inline;
  }
  a {
    @include font-weight-medium;
    @include font-size(11px);
    color: $darkgray;
    line-height: 48px;
    padding-left: 1.2em;
    text-transform: uppercase;
    @include at-breakpoint ($layout-small) {
      color: $silver;
      line-height: 70px;
    }
  }
}

.block--menu-menu-header-links {
  display: none;
  @include at-breakpoint ($layout-small) {
    display: block;
    float: right;
    li:last-child a {
      border-right: 1px solid $gray;
      padding-right: 1.2em;
    }
  }
}

.block--locale {
  li.active {
    display: none;
  }
  @include at-breakpoint ($layout-small) {
    float: right;
    a {
      color: $white;
    }
  }
}
