.l-top-bar-wrapper {
  background-color: $white;
  @include breakpoint($small) {
    background-color: $black;
  }
}

.l-menu-bar {
  border-bottom: 1px solid $lightsilver;
  @include breakpoint($small) {
    border-bottom: 1px solid lighten($silver, 20%);
    height: 60px;
  }
}

.logo-block {
  background-color: $black;
  clear: both;
  @include breakpoint($small) {
    clear: none;
    float: left;
  }
}

.block-site_logo {
  background: $black;
}

.site-logo {
  padding: 0;
  margin-top: 10px;
  height: 45px;
}

.site-name {
  @include font-weight-bold;
  @include font-size(17px);
  color: $white;
  display: inline-block;
  padding: 24px 0 0 15px;
  vertical-align: top;

  @include breakpoint($small) {
    padding-top: 26px;
  }
}
