.block--locale,
.block--menu-menu-header-links {
  li {
    display: inline;
  }
  a {
    @include font-weight-medium;
    @include font-size(11px);
    color: $darkgray;
    line-height: 48px;
    padding-left: 1.8em;
    text-transform: uppercase;
    @include breakpoint ($small) {
      padding-left: 1.2em;
      color: $silver;
      line-height: 70px;
    }
  }
}

.block--menu-menu-header-links {
  @include breakpoint ($mobile-only) {
    background: $black;
    li {
      border-bottom: 1px solid $darkgray;
      display: block;
      a {
        color: $white;
        padding-left: 20px;
      }
    }
  }

  @include breakpoint ($small) {
    display: block;
    float: right;
    li:last-child a {
      border-right: 1px solid $gray;
      padding-right: 1.2em;
    }
  }
}

.block--locale {
  li.active {
    display: none;
  }
  @include breakpoint ($mobile-only) {
    position: relative;
    z-index: 200;
    background: $white;
  }

  abbr[title] {
    border: none;
  }

  @include breakpoint ($small) {
    float: right;
    a {
      color: $white;
    }

    abbr[title] {
      font-size: 0;
      &:after {
        @include font-size(11px);
        content: attr(title);
      }
    }
  }
}
