form {
  .description-toggle {
    @include font-size(18px);
    display: inline-block;
    position: relative;
    cursor: help;
    &:after {
      @include hy-icon($hy-question);
      padding-bottom: 2px;
      vertical-align: middle;
      display: inline-block;
      color: $blue;
    }
    @include at-breakpoint($layout-mobile-only) {
      float: left;
      padding-right: 0.5em;
    }
  }

  .description {
    @include dropdown-menu(none, 'left', $darkgray);
    @include border-radius(6px);
    @include hyphenate;
    font-size: 0.75em;
    left: -15px;
    top: 30px;
    color: $white;
    position: absolute;
    padding: 0 1em;
    &.collapsed {
      padding: 1em;
    }
  }
}