.l-info-footer {
  @include line-break($lightsilver);
  background-color: $color-bg-prefooter;
  padding-top: 2em;
  .block {
    margin-bottom: 2.814em;
    @include breakpoint($small) {
      @include float-span(4);
      &:last-child {
        @include float-span(4, last);
      }
    }
  }
}
