.l-info-footer {
  @include line-break($lightsilver);
  background-color: $color-bg-prefooter;
  padding-top: 2em;
  .block {
    margin-bottom: 2.814em;
    @include at-breakpoint($layout-small) {
      @include span-columns(4);
      &:last-child {
        @include omega;
      }
    }
  }

  .block--menu-menu-open-university-footer-link li a {
    @include button-internal;
    color: $gray;
  }
}
