.main-menu {
  background: $white;

  @include breakpoint($mobile-only) {
    @include border-bottom;

    li {
      @include border-top;
      position: relative;
    }

    li.expanded {
      > .triangle {
        color: $blue;
        padding-left: 20px;
        &:before {
          @include icon($icon-arrow);
          cursor: pointer;
          display: inline-block;
        }
      }
      ul {
        display: none;
      }
    }

    li.leaf a {
      padding-left: 56px;
      &.home-link {
        padding-left: 20px;
      }
    }

    li.active-trail,
    li.active {
      > a,
      > .triangle:before {
        color: $darkblue;
      }
    }

    li.m-active {
      > .triangle:before {
        @include transform(rotate(90deg));
      }
      > ul {
        display: block;
      }
    }

    a {
      @include link-menu;
      display: inline-block;
      padding: 20px;
    }

    // 2nd level of navigation
    .level-2 {
      background: $lightsilver;
      border-top: 1px solid darken($lightsilver, 10%);
    }

    // 3rd level of navigation
    .level-3 {
      border: none;
      a {
        @include font-weight-book;
        border: 0 none;
        color: $silver;
        text-transform: none;

        &:hover, &.active {
          color: $darkgray;
        }
        &.active.m-active {
          color: $white;
        }
      }
    }
  }

  @include breakpoint($small) {
    li {
      display: block;
      float: left;
      list-style-image: none;
      list-style-type: none;
      position: relative;

      &:first-child a {
        padding-left: 0;
      }

      a {
        @include link-menu;
        @include font-weight-bold;
        display: block;
        line-height: 60px;
        padding: 0 1.5em;

        @include breakpoint($medium) {
          padding: 0 2em;
        }
        .open-university & {
          padding: 0 0.9em;
        }
      }

      &.active-trail {
        .triangle {
          border-bottom: 10px solid $darkblue;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          bottom: 0;
          height: 0;
          left: 50%;
          margin-left: -10px;
          min-height: 0;
          position: absolute;
          width: 0;
          z-index: auto;
        }
        &:first-child .triangle {
          margin-left: -25px;
        }
      }

      &.expanded ul {
        display: none;
        height: 0px;
      }
      .home-link {
        font-size: 0;
        line-height: 0;
      }
    }
  }
}
