/* Custom theming for menu local tasks */
.tabs-wrapper  {
  background-color: $blue;
  position: relative;
  z-index: 999;
  width: 100%;
  .tabs {
    @include container;
    li {
      a {
        text-transform: uppercase;
        color: #FFF;
        font-size: 12px;
        margin: 3px 0 2px 0;
        letter-spacing: 0.03em;
        padding-right: 2em;
        line-height: 25px;
        float: left;
      }
      a.edit-link {
        @include font-weight-medium;
        background-color: $blue--active;
        padding: 0 1.2em;
        float: right;
        &:hover {
          background-color: $darkblue;
        }
        &:after {
          @include hy-icon($hy-modify);
          font-size: 16px;
          margin-left: 0.5em;
        }      
      }
    }
  }
}
