.moodle-button {
  @include font-weight-medium;
  margin-bottom: 1em;
  padding-right: 4em;
  @include at-breakpoint($layout-small) {
    margin-right: 2em;
    min-width: 16em;
    display: inline-block;
  }
}

.moodle-key {
  @include font-size(14px);
  @include border;
  padding: 0.9em 2em;
  &:before {
    @include hy-icon($hy-info-stroke);
    margin-right: 0.5em;
  }
  @include at-breakpoint($layout-small) {
    display: inline-block;
  }
}
