.block.block--facetapi,
.study-module-multiselect {
  @include font-weight-medium;
  position: relative;
  float: left;
  margin: 0 1em 1em 0;
  overflow: visible;
  width: 100%;
  select {
    width: 100%;
  }
  @include at-breakpoint($layout-small) {
    width: 255px;
  }
  h2.block__title {
    @include select-header;
  }
  // Faux chosen multiselect theming
  .block__content,
  .chosen-drop {
    display: none;
    z-index: 998;
    max-height: 320px;
    height: auto;
    position: absolute;
    background: #fff;
    width: 100%;
    font-size: 13px;
    ul {
      @include border-bottom;
      @include box-shadow(0px 1px 5px $lightsilver);
      @include scrollbar;
      background-color: $white;
      min-width: 255px;
      max-height: 250px;
      li {
        @include border-bottom;
        padding: 10px;
        color: $blue;
        cursor: pointer;
        &:last-child {
          border-bottom: none;
        }
        a {
          display: inline-block;
          &.facetapi-active {
            display: block !important;
            font-size: 0;
          }
          &:before {
            @include transition(all 0.2s ease-in-out);
            content: '';
            margin: 2px 8px 0 0;
            display: block;
            float: left;
            height: 15px;
            width: 15px;
            border: 1px solid $blue;
          }
        }
        input[type="checkbox"] {
          display: none;
        }
        input:checked + a:before {
          background-color: $darkblue;
          border: 1px solid $darkblue;
        }
      }
      &.facetapi-disabled {
        opacity: 1;
      }
    }
  }
  &.collapsed,
  &.chosen-with-drop {
    h2.block__title {
      color: $white;
      background: $darkblue;
    }
    .block__content,
    .chosen-drop {
      @include border;
      @include shadow-under;
      display: block;
      z-index: 10;
    }
  }
}

.chosen-choices {
  @include border;
  .search-choice {
    cursor: pointer !important;
    color: $silver;
    background: $lightsilver;
    font-size: 13px;
    padding: 3px 5px;
    margin: 1px;
    display: inline-block;
    &:hover {
      background: $silver;
      color: $lightsilver;
    }
    &:after {
      @include hy-icon("\EA2F");
      @include transform(rotate(-45deg));
      display: inline-block;
      margin-left: 3px;
    }
  }
}

.facet-buttons {
  padding: 1em;
  text-align: center;
  .button {
    display: inline-block;
    &.facets-remove {
      @include button-invert-colors;
      padding: 0.7em 0;
    }
    &.facets-apply {
      float: left;
      padding: 0.7em 1.3em;
    }
  }
}





.block--facetapi-uhyou2m5iufoonbzgytqixaxreuk8k7e {
  .item-list {
    display: none;
  }
  @include at-breakpoint($layout-small) {
    .item-list {
      @include transform(scale(0) translateX(0));
      @include transition(transform 0.3s cubic-bezier(0.15, 1, 0.33, 1) 0s);
      display: block;
      z-index: -2;
    }
    .item-list,
    .block__content {
      @include border;
      background-color: $white;
      position: absolute;
      .facet-buttons {
        @include transition(all 0.5s cubic-bezier(0.15, 1, 0.33, 1) 0s);
        @include transform(translateY(-100%));
        @include box-shadow(0px 1px 5px $lightsilver);
        @include border;
        padding: 0 1em;
        background-color: $white;
        position: absolute;
        width: 100%;
        z-index: -1;
      }
      &.active {
        > .facet-buttons {
          @include transform(translateY(0));
          padding: 1em;
        }
      }
      &.collapsed {
        @include transform(scale(1) translateX(96%));
      }
    }
    li {
      padding-right: 2em;
      &.expanded {
        a {
          max-width: 90%;
        }
        &:after {
          @include hy-icon($hy-arrow);
          display: inline-block;
          float: right;
        }
      }
      &.collapsed {
        background-color: $lightsilver;
      }
    }
  }
}
