.pager-and-sorting-controls {
  display: none;  
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.7em 0;
  color: $silver;
  .form-item {
    @include chosen-dropdown;
    display: inline-block;
    padding: 0 1em;
    &:first-child {
      @include border-right;
    }
    label {
      @include link-heading;
      color: $silver;
    }
    .chosen-single {
      @include link-heading;
    }
  }
  @include at-breakpoint($small) {
    display: block;
  }
}
