.pager-and-sorting-controls {
  width: 100%;
  padding-bottom: 1em;
  color: $silver;
  .form-item {
    @include chosen-dropdown;
    padding: 0.5em 0;
    label {
      @include link-heading;
      display: inline-block;
      color: $silver;
      padding: 0;
    }
    .chosen-single {
      @include link-heading;
    }
  }
  @include breakpoint($small) {
    width: auto;
    position: absolute;
    right: 0;
    bottom: -65px;
    .form-item {
      display: inline-block;
      padding: 0 0 0 1em;
      &:first-child {
        @include accessible-border-right;
        padding-right: 1em;
      }
    }
  }
}

// Move sorting controls after results heading on mobile.
@include breakpoint($mobile-only) {
  .page-search, .page-open-university-search {
    .pager-and-sorting-controls {
      position: relative;
      top: 60px;
    }

    .course-search {
      .view-header {
        position: relative;
        top: -60px;
      }
    }
  }

  .page-open-university-search {
    .course-search {
      .view-header {
        position: relative;
        top: -140px;
      }
    }
  }
}
