// This is the exposed filter form
.search-filters {
  position: relative;
  .views-widget-filter-academic_year {
    @include chosen-dropdown;
    @include clearfix;
    label,
    .views-widget {
      display: inline-block;
    }
  }
  .form-item-search {
    @include clearfix;
    input {
      @include breakpoint($small) {
        @include grid-span(10);
      }
    }
  }
  .form-item-include-ongoing-courses {
    @include clearfix;
  }
  #edit-reset {
    @include button-invert-colors;
  }
}

#autocomplete {
  @include border;
  z-index: 9999;
  padding: 0.5em;
  background: $white;
  .search-api-autocomplete-suggestion {
    cursor: pointer;
  }
}
