// Course implementation status messages. Hide by default. Display for
// specific status codes.
.course-implementation-status {
  @extend .messages;
  @extend .alternative;
  display: none;
}
.course-implementation-status-3 {
  @extend .error;
  display: block;
  @include at-breakpoint($small) {
    display: initial;
  }
}
