.node--teaser.node--course-implementation {
  &.exam {
    border-left: 3px solid $orange;
  }
  .field {
    padding-left: 1em;
    @include at-breakpoint($layout-small) {
      float: left;
      width: 50%;
    }
  }
}

.node--course-implementation--teaser-accordion {
  .cancelled {
    position: absolute;
    top: 0;
    height: 100%;
    & + .org-location-date {
      margin-left: 7em;
    }
  }
  .field-group-accordion-item  {
    @include border-bottom;
    > h3 {
      @extend .accordion-content-label;
      @include border-bottom;
    }
  }
  .button {
    display: inline-block;
    margin-bottom: 2em;
  }
  @include at-breakpoint($layout-medium) {
    .accordion-content-item {
      @include clearfix;
      @include border-bottom;

      .label-above {
        @include span-columns(2, 12);
        @include hyphenate;
        @include font-weight-book;
        text-transform: none;
        font-size: inherit;
        margin-top: 0.2em;
      }
      > div:last-child {
        @include span-columns(10 omega, 12);
      }
    }
  }
}
