.block--system-user-menu {
  > ul > li {
    cursor: pointer;
    .info-link {
      @include menu-item-icon($icon-info-stroke);
    }
    .logout-link {
      @include menu-item-icon($icon-logout);
    }
    .login-link {
      @include menu-item-icon($icon-login);
    }
  }

  @include breakpoint($mobile-only) {
    background: $white;
    ul ul.menu li a {
      @include menu-item-icon($icon-info-stroke);
    }
    a {
      @include link-menu;
      @include border-bottom;
      padding: 20px;
    }
    .info-link {
      display: none;
    }
  }

  @include breakpoint($small) {
    float: right;
    > ul > li {
      position: relative;
      float: left;
      margin-left: 2.5em;
      line-height: 60px;
      height: 60px;
      .login-link {
        @include link-menu;
        line-height: 60px;
        &:before {
          display: none;
        }
      }
    }
    // dropdown menu
    ul ul.menu {
      @include dropdown-menu();
      width: 330px;
      right: -15px;
      top: 55px;
      li {
        @include dropdown-list-item;
      }
    }
  }
}

.block--uhc-avatar {
  z-index: 250;
  position: absolute;
  line-height: 48px;
  right: 48px;
  top: 0;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  img {
    background: $color-user;
  }
  @include breakpoint($small) {
    position: static;
    float: right;
    margin-left: 2.5em;
    img {
      margin-top: 6px;
      width: 48px;
      height: 48px;
      vertical-align: middle;
    }
  }
}
