.block--system-user-menu {

  .info-link {
    @include menu-item-icon($icon-info-stroke);
  }
  .logout-link {
    @include menu-item-icon($icon-logout);
  }
  .login-link {
    @include menu-item-icon($icon-login);
  }
  .favorites-link {
    @include menu-item-icon($icon-favorites);
    .favorites-link__count {
      @include font-size(14px);
      margin-left: 3px;
      @include breakpoint($small) {
        line-height: 56px;
      }
    }
  }

  @include breakpoint($mobile-only) {
    ul ul.menu{
      display: block !important;
      li {
        border-top: 1px solid #d2d2d2;
        &:first-child {
          border-top: none;
        }
        a {
          @include menu-item-icon($icon-info-stroke);
          padding-left: 60px;
          text-transform: uppercase;
        }
      }
    }
    a:before {
      left: 0;
      position: absolute;
      text-align: center;
      width: 50px;
    }
    .info-link {
      display: none;
    }
  }

  @include breakpoint($small) {
    float: right;
    > ul > li {
      position: relative;
      float: left;
      margin-left: 2em;
      line-height: 56px;
      height: 56px;
      &:first-child {
        margin-left: 0;
      }
      .login-link {
        line-height: 56px;
        &:before {
          display: none;
        }
      }
    }
    // dropdown menu
    ul ul.menu {
      @include dropdown-menu();
      width: 330px;
      right: -15px;
      top: 55px;
      li {
        @include dropdown-list-item;
      }
    }
  }
  .login-link {
    @include link-menu;
  }
}

.block--uhc-avatar {
  z-index: 250;
  position: absolute;
  line-height: 48px;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  img {
    background: $color-user;
  }
  @include breakpoint($small) {
    position: static;
    float: right;
    margin-left: 2.5em;
    img {
      margin-top: 6px;
      width: 48px;
      height: 48px;
      vertical-align: middle;
    }
  }
}
