.block--system-user-menu {
  position: absolute;
  top: 0;
  right: 70px;
  > ul > li {
    position: relative;
    line-height: 48px;
    height: 48px;
    margin-left: 2em;
    font-size: 0.9375rem;
    cursor: pointer;
    float: left;
    .info-link {
      @include menu-item-icon($hy-info-stroke);
    }
    .logout-link {
      @include menu-item-icon($hy-logout);
    }
  }
  ul ul.menu {
    @include dropdown-menu();
    width: 170px;
    right: -15px;
    top: 55px;
    li {
      @include border-bottom;
      margin: 0 10px;
      &:last-child {
        border-bottom: 0;
      }
      a {
        padding: 10px 0;
        display: block;
        line-height: initial;
      }
    }
  }
  @include at-breakpoint($layout-small) {
    position: static;
    float: right;
    > ul > li {
      margin-left: 2.5em;
      line-height: 60px;
      height: 60px;
    }
    ul ul.menu {
      width: 330px;
    }
  }
}

.block--uhc-avatar {
  position: absolute;
  line-height: 48px;
  right: 50px;
  top: 0;
  img {
    background: $color-user;
  }
  @include at-breakpoint($layout-small) {
    position: static;
    float: right;
    margin-left: 2.5em;
    img {
      margin-top: 6px;
      width: 48px;
      height: 48px;
      vertical-align: middle;
    }
  }
}
