.event-list {
  .view-header {
    .event-list-header {
      display: block;
      margin-top: 1em;
      .event-time,
      .event-title {
        display: none;
        @include at-breakpoint($layout-medium) {
          display: inline-block;
        }
      }
    }

    p {
      @include font-family-main;
      display: block;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .box-data,
  .border-bottom {
    border-bottom: 0;
    padding: 0;
  }
  &.light {
    width: 32em;
    .ds-material-block {
      padding: 0.2em 0;
    }
    .accordion-content-item--label {
      margin-bottom: 0;
    }
    .views-row-first {
      padding-top: 0;
    }
  }
  .ds-material-block {
    padding: 0.5em 0;
  }
  .event-column {
    float: left;
    width: 50%;
    .field {
      @include hyphenate;
      padding-right: 0.5em;
      width: 100%;
      display: inline-block;
      @include at-breakpoint($layout-medium) {
        width: 49%;
      }
    }
  }
  &.table-three-columns {
    .hide-from-three-column-tables {
      display: none !important;
    }
    .event-location {
      width: 100%;
    }
  }
}
