// Portal main liftup
.parade-liftup {
  @include clearfix;
  .view-content {
    border-width: 2px 0 0 0;
    border-color: $lightsilver;
    border-style: solid;
    padding-top: 2em;
    .liftup-main-image {
      float: left;
      margin: 0 4em 2em 0;
      @include at-breakpoint($layout-mobile-only) {
        text-align: center;
        width: 100%;
      }
    }
  }
}

// Course liftups
.course-liftups {
  margin: 2em 1em 0 1em;
  .view-content {
    .gridder-box {
      height: auto;
    }
    @include border-top;
    padding-top: 2em;
    .box-story__topical {
      .date-display-single {
        display: inline-block;
      }
    }
    h4 {
      font-size: 1.313em;
      a {
        color: $black;
      }
    }
    .more-link {
      a {
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: 0.35em;
        border-bottom: 1px solid rgb(208, 208, 208);

        text-align: left;
        &:after {
          content: "\f061";
          position: absolute;
          right: 0;

          font-family: "FontAwesome";
          color: inherit;
        }
      }
    }
  }
}
