.wiki-button {
  @include font-weight-medium;
  margin-bottom: 1em;
  padding-right: 4em;
  @include at-breakpoint($layout-small) {
    margin-right: 2em;
    min-width: 16em;
    display: inline-block;
  }
}
