.block--uhc-autofill-metadata-enrollments-block {
  a:after {
    display: none;
  }
}

// Hide feedback form from edit view.
.page-node-edit #block-feedback-form {
  display: none !important;
}

.hide-labels label {
  display: none;
}

.horizontal-tab-button {
  &.ui-tabs-selected > a {
    background-color: $darkblue;
    color: $white;
    @include breakpoint($small) {
      transition-property: all;
      background-color: rgba(255, 255, 255, 1);
      color: $darkblue;
    }
  }
}

// Make space for the avatar image on mobile for logged in users.
.logged-in {
  .l-top-bar__subright {
    margin-right: 48px;
    @include breakpoint($small) {
      margin-right: initial;
    }
  }
}
