.portal-promotions {
  padding: 4em 0 1em 0;
  .button-internal {
    border-bottom: none;
  }
}

.link-multiple {
  border-bottom: none !important;
}

.field-group-accordion-item {
  .messages {
    li, p {
      @include font-family-main;
    }
  }
}

.block--uhc-autofill-metadata-enrollments-block {
  a:after {
    display: none;
  }
}

// Hide feedback form from edit view.
.page-node-edit #block-feedback-form {
  display: none !important;
}

// Display links in liftup body text. Original style in _box-story.scss
.box-story__content a {
  color: $blue;

  &:hover {
    color: $darkblue;
  }
}
