$breakpoint-no-queries: true;
$breakpoint-no-query-fallbacks: true;

// Re-render everything from styles.scss but without media queries.
@import "hy_doo.styles";


/* IE 8 issues */
// logo
.lt-ie9 {
  .logo-block {
    min-width: 300px;
    img, h2 {
      float: left;
    }
  }
}
