/* Custom theming for menu local tasks */
.tabs-wrapper  {
  display: inline-block;
  background-color: #1073BF;
  width: 100%;
}

ul.tabs--primary {
  max-width: 73em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 768px) {
  .tabs-wrapper  {
    margin-bottom: 0;
    border-bottom: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  body {
    margin-top: 31px !important;
  }

  body.admin-menu {
    margin-top: 52px !important;
  }
}

ul.tabs.primary li,
ul.tabs--primary li  {
    margin: 0;
}

ul.tabs.primary li a:link,
ul.tabs--primary li a:link {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  display: block;
  text-transform: none;
  background-color: #1073BF;
  color: #FFF;
  height: auto;
  font-size: 13px;
  line-height: auto;
  padding: 0 1.2em;
  font-weight: normal;
  border-width: 0;
  line-height: 31px;
  -moz-border-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-radius: 0;
  float: left;
}

ul.tabs.primary li a:visited,
ul.tabs--primary li a:visited  {
  background-color: inherit;
  color: #FFF;
}

ul.tabs.primary li a:link:hover,
ul.tabs.primary li.active a:hover,
ul.tabs.primary li.active a.active,
ul.tabs--primary li a:link.active,
ul.tabs--primary li a:link:hover {
  background-color: #0E64A6;
}

ul.tabs.primary li a.edit-link,
ul.tabs--primary li a.edit-link {
 background-color: #178FEB;
 font-size: 14px;
 line-height: 30px;
 float: right;
}

ul.tabs.primary li a.edit-link:after,
ul.tabs--primary li a.edit-link:after {
 font-family: 'hy-icons';
 content: "\EA25";
 margin-left: 5px;
}

.admin-menu .tabs-wrapper,
.admin-menu .tabs-wrapper {
  top: 21px;
}
