.l-footer {
  .l-region {
    .block {
      width: 31.42857%;
      float: left;
      margin-right: -100%;
      margin-left: 0%;
      clear: none;
    }
    .block--hy-contact {
      border-bottom: 1px solid darken($black, 5%);
      padding-top: 2.2em;

      @include at-breakpoint($layout-small) {
        border: 0 none;
        padding-bottom: 0;
      }
    }
  }
}

.l-info-footer-wrapper {
  @include line-break($lightsilver);
  background-color: $color-bg-prefooter;
}

.l-info-footer {

  padding-top: 2em;
  .block {
    margin-bottom: 2.814em;
    @include at-breakpoint($layout-small) {
      @include span-columns(4);
      &:last-child {
        @include omega;
      }
    }
  }

  .block--menu-menu-open-university-footer-link li a {
    @include button-internal;
  }

  a {
    color: $gray;
  }
  .contact {
    h4 {
      font-size: 1rem;
    }
    p {
      font-size: 0.875rem;
    }
  }
}

.l-action-footer-wrapper {
  @include line-break($lightsilver);
  .l-action-footer {
    .block--hy-content-suffix-hy-content-suffix-last-updated {
      float: left;

      @include at-breakpoint($layout-small) {
        @include span-columns(4, 12);
      }

      .block__content {
        @include font-size(14px);
        @include font-weight-bold;
        color: $gray;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        padding: 25px 0;

        @include at-breakpoint($layout-small) {
          padding: 25px 0 0 40px;
        }
      }
    }
    .block--hy-content-suffix-hy-content-suffix-up-anchor {
      float: right;
      padding-top: 1em;

      @include at-breakpoint($layout-small) {
        padding: 0;
        @include span-columns(1 omega, 12);
      }

      a#up-anchor {
        @include button-anchor--up;
      }
    }
  }
}
